<!DOCTYPE html>
<html>
  <head>
    <title>Survey Manager: Home</title>
  </head>
  <body>
    <a href="/"><h1>Survey Manager</h1></a>
    <div>
      <a href="/users/"><h2>List of Users</h2></a>
    <div>
    <div>
      <a href="/respondents/"><h2>List of Respondents</h2></a>
    <div>
  </body>
</html>
